# source "../../common/secrets/secrets_loader.sh"

export_var "POLYGON_API_KEY" "O_meA7vBjdDk5D8L6KuYpRhEP6OxXBo6"
export_var "ALPHA_VANTAGE_API_KEY" "RTHN5LCDY5O0Z39K"

end_env

# decrypt_and_export_secrets "catalyst-ui"
